/* Start Variables */

:root {
    --mainColor: #10CAB7;
    --secondColor: #2C4755;
}


/* End Variables */


/* Start Global */

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}


/* Small Screen */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .special-heading {
        font-size: 60px;
    }
    .special-phara {
        margin: 20px 0 0 0;
    }
}


/* Medium Screen */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large Screen */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: #EBECED;
    letter-spacing: -3px;
    margin: 0;
}

.special-phara {
    margin: -30px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    letter-spacing: 2px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-phara {
        margin: -20px 0 0 0;
    }
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}


/* End Global */


/* ******************** */


/* Start Header */

header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links {
    position: relative;
}

nav .links:hover .icon span:nth-child(2) {
    width: 100%;
}

nav .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

nav .links .icon span:nth-child(2) {
    width: 50%;
    transition: .5s;
}

nav .links ul {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    width: 200px;
    border-radius: 5px;
    z-index: 100;
    display: none;
}

nav .links:hover ul {
    display: block;
}

nav .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 5px;
}

nav .links ul li a {
    padding: 15px;
    transition: .5s;
    color: #333;
}

nav .links ul a:hover {
    padding-left: 25px;
}

nav .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


/* End Header */


/* Start Landing */

.landing {
    background-image: url(../image/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    max-width: 100%;
}

.landing h1 {
    color: var(--mainColor);
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    line-height: 1.8;
}

.landing p {
    font-size: 20px;
    line-height: 1.8;
}


/* End Landing */


/* Start Features */

.features {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    font-size: 50px;
    color: var(--mainColor);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
}


/* End Features */


/* Start Services */

.services {
    padding: 60px 0;
}

.services .services-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

.services .services-content .serv i {
    color: var(--mainColor);
    flex-basis: 60px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv .text h3 {
    margin: 0 0 20px 0;
}

.services .services-content .serv .text p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #2C4755;
    z-index: -1;
}

@media (max-width: 1199px) {
    .column-three {
        display: none;
    }
}


/* End Services */


/* Start Portfolio */

.portfolio {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: #fff;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h4 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}


/* End Portfolio */


/* Start About */

.about {
    padding: 60px 0;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 80px;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::after {
    position: absolute;
    content: "";
    border-left: 80px solid var(--mainColor);
    border-bottom: 80px solid var(--mainColor);
    width: 100px;
    height: 300px;
    top: -40px;
    right: -140px;
    z-index: -1;
}

.about .about-content .image::before {
    position: absolute;
    content: "";
    background-color: #EBECED;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before {
        display: none;
    }
    .about .about-content .image::after {
        top: 20px;
        left: -20px;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    margin-top: 15px;
    color: #777;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}


/* End About */


/* Start Contact */

.contact {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.contact .contact-content {
    padding: 60px 0;
    text-align: center;
}

.contact .contact-content p {
    font-size: 35px;
    font-weight: 800;
    color: #2C4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .contact-content a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--mainColor);
}

@media (max-width: 767px) {
    .contact .contact-content p,
    .contact .contact-content a {
        font-size: 25px;
    }
}

.contact .contact-content .icon-social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact .contact-content .icon-social i {
    margin-left: 10px;
    color: #2C4755;
}


/* End Contacts */


/* Start footer */

footer {
    font-size: 18px;
    word-spacing: 1px;
    text-align: center;
    color: #fff;
    background-color: #2C4755;
    padding: 30px;
}

footer span {
    color: var(--mainColor);
}


/* End footer */